@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/breakpoints" as *;

.mobileBanner {
  @include flex(row, center, center);
  margin-top: 4%;
  @include md {
    display: none;
  }
  &__img {
    width: 100%;
  }
}
.desktopBanner {
  margin-top: 4%;
  width: 100%;
  display: none;
  @include md {
    @include flex(row, center, center);
  }
  &__img {
    width: 100%;
  }
}

.list {
  @include flex(column, center, center);
  margin-bottom: 10rem;
  width: 100%;
  @include lg {
    width: 80%;
    margin-left: 10%;
  }
}
