@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.toggle {
  @include flex(row, space-between, center);
  background-color: $color-primary;
  border: unset;
  cursor: pointer;
  font: unset;
  padding: 1rem;
  border-radius: 0.75rem;
}

.collapse {
  @include flex(column, center, center);
  flex-basis: 100%;
  margin-top: 2rem;
  &__label {
    z-index: 51;
    width: 100%;
  }
  &__h3 {
    padding: 0.8rem;
  }
}

.content {
  background-color: $color-secondary;
  border-radius: 1rem;
  padding-top: 2rem;
}

.content-parent {
  margin-top: -1rem;
  height: 0px;
  overflow: hidden;
  transition: height ease 0.3s;
  z-index: 50;
  width: 100%;
}
